!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    != SocketStream
    title Woodstock
  body
    #content
      a(href='https://github.com/alvaro-cuesta/woodstock')
        img(src='/img/logo.png', alt='SocketStream Logo', width=160, height=160)
      #game GAME
        form#nickForm(onsubmit='return false')
          input(id='nick', type='text')
      #chat CHAT
        form#chatForm(onsubmit='return false')
          #chatlog
          input(id='message', type='text', autocomplete='off')
