!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    != SocketStream
    title Woodstock
  body
    #content
      a(href='https://github.com/alvaro-cuesta/woodstock')
        img(src='/img/logo.png', alt='Woodstock Logo', width=160, height=160)
      #login
        form.form-inline#loginForm(onsubmit='return false')
          legend Login or register
          div.input-append
            input(id='nick', class='input-small', type='text', value="Nick")
            input(id='pass', class='input-small', type='password', value="Pass")
            button(type='submit', class="btn") Submit
      #chat
        form#chatForm(onsubmit='return false')
          #chatlog
          input(id='message', type='text', autocomplete='off')
